<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type"	type="text/html">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/lightbox.css">
    <script src="{{ site.url }}/js/typekit.js"></script>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>