<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<nav class="top-bar title-bar">
    <ul>
        <li class="title-bar-left"><a href="{{ site.url }}/station-{{ page.station }}/index.html"><img src="{{ site.url }}/assets/icon-back.svg" alt="Schließen" class="nav-icon"></a>
        <li class="title-bar-right"><a href="#" class="title">Quellen</a></li>
    </ul>
</nav>