<nav class="main-nav">
    <ul>
        <li><a href="{{ site.baseurl }}/index.html">Intro</a></li>
        <!--<li><a href="{{ site.baseurl }}/station1.html">Station I</a></li>
        <li><a href="{{ site.baseurl }}/station2.html">Station II</a></li>
        <li><a href="{{ site.baseurl }}/station3.html">Station III</a></li>
        <li><a href="{{ site.baseurl }}/station4.html">Station IV</a></li>
        <li><a href="{{ site.baseurl }}/station5.html">Station V</a></li>
        <li><a href="{{ site.baseurl }}/station6.html">Station VI</a></li>-->
    </ul>
</nav>