<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<nav class="nav info">
    <ul>
        <li class="nav-left"><a href="{{ site.baseurl }}/index.html"><img src="/assets/icon-back.svg" alt="Schließen" class="nav-icon"></a>
        <li class="nav-right"><a href="{{ site.baseurl }}/index.html" class="title">Info</a></li>
    </ul>
</nav>