<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<nav class="main-nav">
    <ul>
        <li><a href="{{ site.baseurl }}/index.html">Intro</a></li>
        <!--<li><a href="{{ site.baseurl }}/station1.html">Station I</a></li>
        <li><a href="{{ site.baseurl }}/station2.html">Station II</a></li>
        <li><a href="{{ site.baseurl }}/station3.html">Station III</a></li>
        <li><a href="{{ site.baseurl }}/station4.html">Station IV</a></li>
        <li><a href="{{ site.baseurl }}/station5.html">Station V</a></li>
        <li><a href="{{ site.baseurl }}/station6.html">Station VI</a></li>-->
    </ul>
</nav>