<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<nav class="top-bar menu">
    <label for="show-menu" class="show-menu">Station {{ page.station }}</label>
    <input type="checkbox" id="show-menu" role="button">

    <ul id="menu">
        <li><a href="{{ site.url }}/station-0">Station 0</a></li>
        <li><a href="{{ site.url }}/station-1">Station 1</a></li>
        <li><a href="{{ site.url }}/station-2">Station 2</a></li>
        <li><a href="{{ site.url }}/station-3">Station 3</a></li>
        <li><a href="{{ site.url }}/station-4">Station 4</a></li>
        <li><a href="{{ site.url }}/station-5">Station 5</a></li>
        <li><a href="{{ site.url }}/station-6">Station 6</a></li>
    </ul>
</nav>