.introduction {
	margin-top: $spacing-unit*0.8;
}

.main-nav {
	background-color: $nav-color;
	text-align: center;
	padding-top: $spacing-unit/2;
	padding-bottom: $spacing-unit/6;

	ul {
		margin-left: 0;
	}

	li {
		list-style-type: none;
		padding: 0;
		margin: 0;

		a {
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
		}

		a:after{
			margin-left: $spacing-unit/4;
			position: absolute;
			top: $spacing-unit/2.5;
			display: inline-block;
			content: url("../assets/nav-arrow-down.png");
		}
	}
}

/*
** Content Cell (for sources, etc)
*/
.cell {
	margin-top: $spacing-unit;
	margin-bottom: $spacing-unit;
	padding-bottom: $spacing-unit*0.4;
	padding-left: $spacing-unit*0.6;
	padding-right: $spacing-unit*0.9;

	a {
		color: $text-color;
	}

	&.intro {
		background: url("../assets/caret-forward@2x.png") no-repeat 98% 50%;
		background-size: 12px;

		/* This puts the underline between items, except for the last one */
		&:not(:last-child) {
			border-bottom: 1px solid $grey-color-light;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.media {
		border-left: $spacing-unit*0.3 solid #333;
		margin-bottom: 1px;
		margin-top: 1px;
		padding-left: $spacing-unit*0.3;
		padding-top: $spacing-unit*0.5;
	}

	&.text {
		border-left-color: $media-text;
	}

	&.frage {
		margin-bottom: 1px;
		h4 {
			text-transform: uppercase;
		}
		p {
			font-style: italic;
		}
	}
}

/*
** Footer: Media types key
*/
.media-keys {
	width: 100%;
	margin-left: 0;
	margin-top: $spacing-unit*2;

	.key {
		width: 25%;
		height: $base-font-size*3;
		float: left;
		list-style-type: none;
		margin-bottom: $spacing-unit*3;
	}
	.text {
		background: url("../assets/icon-text.svg") $media-text no-repeat 50% 50%;
		background-size: $base-font-size*1.1;
	}

	.video {
		background: url("../assets/icon-video.svg") $media-video no-repeat 50% 50%;
		background-size: $base-font-size*1.1;
	}

	.audio {
		background: url("../assets/icon-audio.svg") $media-audio no-repeat 50% 50%;
		background-size: $base-font-size*1.1;
	}

	.picture {
		background: url("../assets/icon-picture.svg") $media-picture no-repeat 50% 50%;
		background-size: $base-font-size*1.1;
	}
}

/*
 ** Hide Text
 */
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}