
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% include head.html %}
    <body class="article audio">
        {% include header-source.html %}
        <a href="/assets/station-audio/{{ page.file }}"><img src="/assets/placeholder-audio@2x.png" alt="{{ page.title }}" class="header-item"></a>
        
        <div class="spaced item-wrapper">
            {% include item-title-header.html %}
            {{ content }}

            {% include source.html %}
        </div>
        
        {% include footer.html %}
    </body>
</html>