<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% include head.html %}
    <body class="station">
        {% include menu.html %}
        {% if page.image %}
        <img src="{{ site.url }}/assets/station-photos/{{ page.image }}.jpg" alt="{{ page.title }}" class="header-item">
        {% endif %}
        <h1 class="spaced item-wrapper">{{ page.title }}</h1>
		<div id="spaced introduction">
			{{ content }}
		</div>

        {% include footer.html %}
    </body>
</html>