<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        {% include header.html %}

        <img src="assets/{{ page.image }}.jpg">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
            <item class="media-item intro">
                <a href="">
                <h3>Friedliche Revolution in der DDR</h3>
                <p>Im Herbst 1989 war der Zusammenbruch des SED-Staates kaum mehr aufzuhalten...</p></a>
            </item>
            <item class="media-item intro">
                <a href="">
                <h3>Friedliche Revolution im Strafvollzug</h3>
                <p>Im Oktober 1989 drangen zunehmend Berichte &uuml;ber die DDR-Haftanstalten an die Öffentlichkeit.</p></a>
            </item>
            <caption>Quellen</caption>
            <item class="media-item text">
                <h3>Bernd M&uuml;ller erinnert sich</h3>
                <p>Der ehemalige H&auml;ftling in Bautzen II, Bernd Joachim M&uuml;ller erinnert sich 2014 an die Friedliche Revolution im Stasi-Gef&auml;ngnis.</p>
            </item>
        </div>

        {% include footer.html %}
    </body>
</html>