<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% include head.html %}
    <body class="article info">
        {% include header-info.html %}
        {% if page.image %}
        <img src="/assets/station-photos/{{ page.image }}.jpg" alt="{{ page.title }}" class="header-item">
        {% endif %}
        {% include second-title.html %}
        <div class="spaced">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
        
        {% include footer.html %}
    </body>
</html>