<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% include head.html %}
    <body class="article text">
        {% include header-source.html %}

        {% if page.image %}
        <img src="/assets/station-photos/{{ page.image }}.jpg" alt="{{ page.title }}" class="header-item">
        {% endif %}
        
        <div class="spaced">
            <h2>{{ page.subtitle }}</h2>
            <h1>{{ page.title }}</h1>
            {{ content }}

            {% include source.html %}
        </div>

        {% include footer.html %}
    </body>
</html>